<mat-tab-group>
  <mat-tab (click)="selectedEditor='concepts'" label="Concepts">
    <div class="container">
      <div class="item">
        <div class="" id="displayListWhenUnselected" *ngIf="conceptSelected===false">

          <h3>Concepts</h3>
          <mat-nav-list>
            <mat-list-item>
              <a (click)="loadNewConceptForm()">
                <mat-icon>fiber_new</mat-icon> New Concept</a>
            </mat-list-item>
            <mat-list-item *ngFor="let concept of concepts">
              <a (click)="loadExistingConcept(concept)">
                <mat-icon>edit</mat-icon> {{concept.display_name}}</a>
            </mat-list-item>
          </mat-nav-list>
        </div>

        <div id="" *ngIf="conceptSelected===true">
          <button matTooltip="Return to concepts" (click)="returnToConceptList()" mat-icon-button type="button" name="button">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
        </div>

      </div>

      <div class="item" *ngIf="conceptSelected">
        <div class="container">
          <div class="item" id="existingConceptForm" *ngIf="selectedConceptExists===true && selectedConceptFormReady===true">

            <h3>{{selectedConcept.display_name}}: Edit Concept Form</h3>
            <mat-card>
              <concept-form [conceptForm]="selectedConceptForm"
              (status)="formStatus($event)"></concept-form>
            </mat-card>
          </div>

          <div class="item" id="existingConceptForm" *ngIf="selectedConceptExists===false && selectedConceptFormReady===true">
            <h3>Create New Concept Form</h3>
            <mat-card>
              <concept-form [conceptForm]="newConceptForm"
              (status)="formStatus($event)"></concept-form>
            </mat-card>
          </div>

          <div class="item" id="Qualia List" *ngIf="selectedConceptExists && qualiaSelected === false">
            <h3>Qualias</h3>
            <mat-nav-list>
              <mat-list-item>
                <a (click)="loadNewQualiaForm()">
                  <mat-icon>fiber_new</mat-icon> New Qualia</a>
              </mat-list-item>
              <mat-list-item *ngFor="let qualia of conceptQualiaList">
                <a (click)="loadExistingQualiaForm(qualia)">
                  <mat-icon>edit</mat-icon> {{qualia.display_name}}

                </a>
              </mat-list-item>
            </mat-nav-list>
          </div>

          <div class="" *ngIf="qualiaSelected === true && selectedQualiaFormReady===true">
            <h3 *ngIf="selectedQualiaExists===false">Create New Qualia Form</h3>
            <h3 *ngIf="selectedQualiaExists===true">{{selectedQualia.display_name}}: Edit Qualia Form</h3>
            <mat-card>
              <concept-form [conceptForm]="selectedQualiaForm"
              (status)="formStatus($event)"></concept-form>
            </mat-card>
          </div>
        </div>

      </div>

    </div>
  </mat-tab>



  <mat-tab (click)="selectedEditor='entanglements'" label="Entanglements">
    <div class="container">
      <div class="item">
        <div class="" id="displayListWhenUnselected" *ngIf="entanglementSelected===false">

          <h3>Entanglements</h3>
          <mat-nav-list>
            <mat-list-item>
              <a (click)="loadNewEntanglementForm()">
                <mat-icon>fiber_new</mat-icon> New Entanglement</a>
            </mat-list-item>
            <mat-list-item *ngFor="let entanglement of entanglements">
              <a (click)="loadExistingEntanglement(entanglement)">
                <mat-icon>edit</mat-icon> {{entanglement.display_name}}</a>
            </mat-list-item>
          </mat-nav-list>
        </div>

        <div id="" *ngIf="entanglementSelected===true">
          <button matTooltip="Return to entanglements" (click)="returnToEntanglementList()" mat-icon-button type="button" name="button">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
        </div>

      </div>

      <div class="item" *ngIf="entanglementSelected">
        <div class="container">
          <div class="item" id="existingEntanglementForm" *ngIf="selectedEntanglementExists===true && selectedEntanglementFormReady===true">

            <h3>{{selectedEntanglement.display_name}}: Edit Entanglement Form</h3>
            <mat-card>
              <concept-form [conceptForm]="selectedEntanglementForm"
              (status)="formStatus($event)"></concept-form>
            </mat-card>

          </div>
          <div class="item" id="newEntanglement" *ngIf="selectedEntanglementExists === false && selectedEntanglementFormReady===true">
            <h3>Create New Entanglement Form</h3>
            <mat-card>
              <concept-form [conceptForm]="newEntanglementForm"
              (status)="formStatus($event)"></concept-form>
            </mat-card>
          </div>
        </div>

      </div>

    </div>
  </mat-tab>
</mat-tab-group>
