<mat-tab-group>
  <mat-tab (click)="selectedEditor='concepts'" label="Concepts">
  <div class="container">
<div class="item">
  <div class="" id="displayListWhenUnselected" *ngIf="conceptSelected===false">

    <h3>Concepts</h3>
    <mat-nav-list>
      <mat-list-item>
        <a (click)="loadNewConceptForm()">
          <mat-icon>fiber_new</mat-icon> New Concept</a>
      </mat-list-item>
      <mat-list-item  *ngFor="let concept of concepts">
        <a (click)="loadExistingConcept(concept)">
          <mat-icon>edit</mat-icon> {{concept.display_name}}</a>
      </mat-list-item>
    </mat-nav-list>
  </div>

  <div id="" *ngIf="conceptSelected===true">
    <button
    matTooltip="Return to concepts"
    (click)="returnToConceptList()"
    mat-icon-button
    type="button"
    name="button">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  </div>

</div>

<div class="item" *ngIf="conceptSelected">
  <div class="container">
    <div class="item"
      id="existingConceptForm"
      *ngIf="selectedConceptExists && selectedConceptFormReady">

      <h3>{{selectedConcept.display_name}}: Edit Concept Form</h3>
      <mat-card>
        <concept-form
          [conceptForm]="selectedConceptForm"></concept-form>
      </mat-card>

    </div>
    <div class="item" id="Qualia List" *ngIf="selectedConceptExists">
      <h3>Qualias</h3>
      <mat-nav-list>
        <mat-list-item>
          <a (click)="loadNewQualiaForm()">
            <mat-icon>fiber_new</mat-icon> New Qualia</a>
        </mat-list-item>
        <mat-list-item  *ngFor="let qualia of conceptQualiaList">
          <a (click)="loadExistingQualiaForm(qualia)">
            <mat-icon>edit</mat-icon> {{qualia.display_name}}

          </a>
        </mat-list-item>
      </mat-nav-list>
    </div>
  </div>

</div>

  </div>


  </mat-tab>



  <mat-tab (click)="selectedEditor='entanglements'" label="Entanglements">
    <div class="container">
      <div class="item">
        <h3>Entanglements</h3>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
