<input #username type="text" name="" value="" placeholder="username">
<input #password type="password" name="" value="" placeholder="password">

<pre *ngIf="atmanService.userLoggedIn === true">Current Logged In User: {{atmanService.currentUserName}}</pre>


<button (click)="login(username.value, password.value)"
type="button" mat-raised-button name="button">Login</button>

<button (click)="logout()" type="button" mat-raised-button name="button">Logout</button>

<concept-list-editor
[conceptLabel]="conceptLabel"
[displayKey]="displayKey"
 (status)="watchStatus($event)">
</concept-list-editor>
