<p>
  playground works!
</p>

<form class="" action="index.html" method="post">
  <input [formControl]="form.field1" type="text" name="" value="">
  <input [formControl]="form.field2" type="text" name="" value="">
</form>


<pre>Input1 Valid: {{form.field1.status}}</pre>

<pre>Input2 Valid: {{form.field2.status}}</pre>


<pre>Form Valid: {{form.validForm.value}}</pre>

<div class="" *ngFor="let qualia of conceptForm.qualias">

<qualia-field [qualiaField]="qualia"></qualia-field>


<pre>
Qualia Status: {{qualia.updated_value.status}}
Qualia Modified: {{qualia.modified}}
Submission Ready: {{qualia.submission_ready.value}}
</pre>

</div>

<pre>
ConceptForm Submission Status: {{conceptForm.formSubmissionReady | async}}
</pre>


<div class="">
  <form class="" action="index.html" method="post" *ngFor="let entanglement of conceptForm.entanglements">
    <entanglement-field [entanglementField]="entanglement">
    </entanglement-field>
  </form>
</div>
