<div class="" *ngIf="selectListReady">
  <div *ngIf="entanglementField.cardinality==='one-to-one'">
    <mat-form-field class="field-full-width">
      <input
      type="text"
      matInput
      (keyup.enter)="getSelected(keyDownValue)"
      placeholder="{{entanglementField.display_name}}"
      [formControl]="displayControl"
      [matAutocomplete]="auto"
      (optionSelected)="getSelected($event)">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let concept of filteredSelectList | async" [value]="concept.display_name"
        (click)="getSelected(concept)">
        {{ concept.display_name}}
      </mat-option>
    </mat-autocomplete>
  </div>
  <pre *ngIf="entanglementField.debug">
Modified: {{entanglementField.modified}}
Ready For Submission: {{entanglementField.submission_ready | async}}
  </pre>
</div>
