<form>
    <qualia-field class="example-full-width"
    *ngFor="let qualia of conceptForm.qualias; let i=index"
    [qualiaField]="qualia">
    </qualia-field>
    <div class="" *ngIf="conceptForm.entanglements.length > 0">
      <entanglement-field
        *ngFor="let entanglement of conceptForm.entanglements; let i=index"
        [entanglementField]="entanglement"></entanglement-field>
    </div>
  <div class="" *ngIf="conceptForm.showButtons === true">
    <button [disabled]="conceptForm.formSubmissionReady.value !== true"
      mat-raised-button
      (click)="initializeSubmit()"
      type="submit"
      class="btn-info"
      name="button">Submit</button>

      <button *ngIf="conceptForm.existingForm===true"
      mat-raised-button
      type="button"
       name="button"
       (click)="archiveConcept()">
        <mat-icon>delete</mat-icon>
     </button>
  </div>
</form>
<pre *ngIf="conceptForm.debug === true">
  Ready for submission:{{conceptForm.formSubmissionReady.value}}
</pre>
