<form *ngIf="status.formReady" (ngSubmit)="submitNewConceptToServer()">
    <qualia-field
    *ngFor="let qualia of conceptForm.qualias; let i=index"
    [qualiaField]="qualia">
    </qualia-field>
    <div class="" *ngIf="conceptForm.entanglements.length > 0">
      <entanglement-field
        *ngFor="let entanglement of conceptForm.entanglements; let i=index"
        [entanglementField]="entanglement"></entanglement-field>
    </div>

    <button mat-button type="submit" class="btn-info"  name="button">Submit</button>
</form>

<input type="text" [(ngModel)]="inputConcept" name="" value="">
<button
mat-button
(click)="getNewConceptForm(inputConcept)"
class="btn-danger"  name="button">Get Concept!</button>
